<div class="container">
    <div class="products">
        <div class="product-container" *ngFor="let product of productsInCart; let i = index">
            <app-product-in-cart [productData]="product"></app-product-in-cart>
        </div>
    </div>
    <div class="pay">
        <div class="pay-container">
            <div class="info">
                <p>Products ({{ numberOfProductsInCart }})</p>
                <p>Cost: {{cost}}.00</p>
            </div>
            <p class="error">{{error}}</p>
            <button class="button" (click)="orderProducts()">Order</button>
        </div>        
    </div>
</div>
