<div class="container">
    <div class="info">
        <p>Name: {{ productData.product.name }}</p>
        <p>Cost: €{{ productData.product.cost}}.00</p>
    </div>
    <img [src]="productData.product.image" alt="{{productData.product.image}}">
    <button class="button" (click)="deleteThisFromCart()">Delete</button>
    <select  name="Quantity" [(ngModel)]="quantity" (input)="changeQuantity(quantity)" (change)="changeQuantity(quantity)">
        <option *ngFor="let i of numberArray">{{i}}</option>
    </select>      
</div>